@model IEnumerable<SongProject.Models.Song>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<style>
    .odd {
        background-color: cadetblue;
    }
</style>

<table class="table table-stripped">

    <tr>
        <th class="odd">
            @Html.DisplayNameFor(model => model.SongName)
        </th>
        <th class="odd">
            @Html.DisplayNameFor(model => model.MovieName)
        </th>
        <th class="odd">
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th class="odd">
            @Html.DisplayNameFor(model => model.Lang)
        </th>
        <th class="odd">
            @Html.DisplayNameFor(model => model.Actor)
        </th>
        <th class="odd">
            @Html.DisplayNameFor(model => model.MusicDirector)
        </th>
        <th class="odd">
            @Html.DisplayNameFor(model => model.MovieDirector)
        </th>
        <th class="odd"></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusicDirector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDirector)
            </td>
            <td>
                @Html.ActionLink("View", "ViewSongs", new { id = item.SongId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
